* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: lato;
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    /* background-color: lightslategrey; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat;
    color: #252525;
}

h1 {
    font-family: Montserrat;
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 5.2px;
    text-align: center;
    color: #ffffff;
}